.Headshot-Container {
    margin: 0 auto;
    width: 40%;
}

.Headshot {
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
    padding-left: 5%;
}

.Headshot-Container img {
    margin-top: 50px;
    max-height: 400px;
    max-width: 400px;
    border-radius: 250px;
}