.LandingPage{
    position: relative;
    background-color: white;
    color: black;
    max-height: 100%;
    max-width: 100%;
    margin-top: 0;
    top: 0;
}

.LandingPage-header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 200px;
    max-width: 100%;
    background-color: #5085A5;
    text-align: left;
    color: white;
    padding-top: 30px;
}

@media screen and (min-width:320px) and (max-width:1024px) {
    .LandingPage-header-container {
        max-width: 768px;
        max-height: 700px;
    }
}