.Music {
    max-width: 100%;
    background-color: #8FC1E3;
    text-align: center;
    padding-left: 5%;
    margin-top: 100px;
    font-family: 'Fanwood Text', serif;
    padding-bottom: 50px;
    white-space: pre-wrap;
}

.Music-title {
    padding-top: 50px;
    font-size: 38px;
    text-align: left;
    letter-spacing: .1em;
    border-bottom: 5px solid white;
    width: 200px;
    text-shadow: .5px .5px 0px rgba(255,255,255,1);
}

.Music-body {
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 50px;
    text-align: left;
    white-space: pre-wrap;
    text-shadow: .5px .5px 0px rgba(255,255,255,1);
}

.Music-videos {
    text-align: left;
    margin-left: 5%;
    display: flex;
}

.Music-videos-description {
    order: 6;
    text-shadow: .5px .5px 0px rgba(255,255,255,1);
}

    .Music-videos-description li {
        list-style: none;
        font-size: 20px;
        font-weight: 600;
        text-shadow: .5px .5px 0px rgba(255,255,255,1);
    }

.Music-videos-titles{

}

.Music-videos-iframe {
    order: 6;
    width:  875px;
    height: 500px;
    padding-left: 5%;
}