.SidebarNav {
    width: auto;
    order: 5;
    text-align: center;
    text-transform: uppercase;
    background-color: #5085A5;
}

@media screen and (min-width:320px) and (max-width:1024px) {
    .SidebarNav {
        max-width: 764px;
        margin: 0;    
    }

    .SidebarNav-ul {
        margin-top: 10px;
        text-align: left;
        padding: 0;
    }

    .SidebarNav-ul li {
        list-style-type: none;
        font-size: 24px;
        font-weight: 500;
        text-align: left;
        display: inline;
        margin-left: 15px;
        margin-top: 10px;
    }
}

.SidebarNav-ul {
   /* margin-left: 8px;*/
    text-align: right;
    padding: 0;
    
}


.SidebarNav-ul li {
    list-style-type: none;
    font-size: 40px;
    font-weight: 600;
    text-align: left;
    display: inline;
    margin-left: 15px;


}

.SidebarNav-ul a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin-left: 15px;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}

.SidebarNav-ul a:hover {
  color: white;
}