.Socials {
    position: relative;
    text-align: center;
    order: 3;
    background-color: #5085A5;
}



.Socials img{
    margin-right: 20px;
}

@media screen and (min-width:320px) and (max-width:1024px) {
    .Socials {
        position: relative;
        text-align: center;
        margin: 0 auto;
        background-color:#5085A5 ;
    }

}