.App {
    background-color: #1d7110;
    max-width: 100%;
    font-family: 'Fanwood Text', serif;
}

@media screen and (min-width:320px) and (max-width:1024px) {
    .App {
        max-width: 764px;
    }
}